<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<ul id="navbar" style="style.css">
		 <li>
		   <img src="Nj_s.png" alt="NinJo-Logo" height="55">
		 </li> 
	 	<li/>
		<li><a href="index">Home</a>
			<ul>
				<li><a href="overview.html">Overview</a></li>
				<li><a href="features.html">Features</a></li>
				<li><a href="technicalInformation.html">Technical information</a></li>
				<li><a href="softwareEditions.html">Software editions</a></li>
				<li><a href="prices.html">Prices</a></li>
				<li><a href="publications.html">Publications</a></li>
			</ul>
		</li>
		<li><a href="about.html">About</a></li>
		<li><a href="additionalSoftware.html">Additional software</a></li>
		<li><a href="members.html">Project members</a></li>
		
	 <script>
		 function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
		    x.className += " responsive";
		  } else {
		    x.className = "topnav";
		  }
} 
	 </script>
	</ul>



<!--
    <div class="topnav" id="myTopnav">
        <a href="#home" id="homebtn" class="active">
          <img id="logo" src="Nj_s.png" alt="" />
        </a>
        <div class="dropdown">
          <button class="dropbtn">
            Explore NinJo <i class="icon-down-open"></i>
          </button>
  
          <div class="dropdown-content">
            <a class="link" href="overview.html">Overview</a>
            <a class="link" href="features.html">Features</a>
            <a class="link" href="technicalInformation.html"
              >Technical information</a
            >
            <a class="link" href="softwareEditions.html">Software editions</a>
            <a class="link" href="prices.html">Prices</a>
            <a class="link" href="publications.html">Publications</a>
          </div>
        </div>
        <a href="about.html">About</a>
        <a href="additionalSoftware.html">Additional software</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"
          >&#9776;</a
        >
  
        <link rel="stylesheet" href="css/style.css" />
        <script>
          function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
              x.className += " responsive";
            } else {
              x.className = "topnav";
            }
          }
        </script>
      </div>

-->
